{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('insert_booking') }}" method="POST" class="form-horizontal">
	<fieldset>
		<legend>Add Booking - Details</legend>
		<div class="form-group">
			<label for="full_name" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="full_name" name="full_name">
            </div>
	    </div>
        <div class="form-group">
			<label for="country_to" class="col-lg-2 control-label">Country</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="country_to" name="country_to" value="{{country}}" readonly></input>
            </div>
	    </div>
        <div class="form-group">
            <label for="flight_no" class="col-lg-2 control-label">Flights</label>
            <div class="col-lg-10">
                <select class="form-control" id="flight_no" name="flight_no">
                    {% for flight in flights %}
                        <option value="{{flight.flight_no}}">{{flight.flight_no}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="hotel_name" class="col-lg-2 control-label">Hotels</label>
            <div class="col-lg-10">
                <select class="form-control" id="hotel_name" name="hotel_name">
                    {% for hotel in hotels %}
                        <option value="{{hotel.hotel_name}}">{{hotel.hotel_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="checkbox">
                    <label>
                        <input id="extra_baggage" name="extra_baggage" type="checkbox"> Extra Baggage
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="checkbox">
                    <label>
                        <input id="first_class" name="first_class" type="checkbox"> First Class
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
	</fieldset>
</form>
{% endblock %}