{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('insert_flight') }}" method="POST" class="form-horizontal">
	<fieldset>
		<legend>Add Flight - Details</legend>
		<div class="form-group">
			<label for="flight_no" class="col-lg-2 control-label">Flight No.</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="flight_no" name="flight_no">
            </div>
	    </div>
        <div class="form-group">
            <label for="country_to" class="col-lg-2 control-label">Country To</label>
            <div class="col-lg-10">
                <select class="form-control" id="country_to" name="country_to">
                    {% for country in countries %}
                        <option value="{{country.name}}">{{country.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
			<label for="seats" class="col-lg-2 control-label">No. of Seats</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="seats" name="seats">
            </div>
	    </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
	</fieldset>
</form>
{% endblock %}