<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Holiday Booking Portal</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('get_bookings')}}">Bookings <span class="sr-only">(current)</span></a></li>
                    <li><a href="{{url_for('get_flights')}}">Flights</a></li>
                    <li><a href="{{url_for('get_hotels')}}">Hotels</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          
        })
        $(function() {
            var dropdown = {
                flights: $('#flight_no'),
                seats: $('#seat_no')
            };

            // function to call XHR and update seat dropdown
            function updateseat() {
                var flight = dropdown.flights.val();
                var booking = $('#booking_no').val();
                //dropdown.seats.attr('disabled', 'disabled');
                console.log(flight);

                if (flight.length) {
                    dropdown.seats.empty();
                    $.getJSON("{{ url_for('get_seats') }}", {flight: flight, booking: booking}, function(data) {
                        console.log(data);
                        data.forEach(function(item) {
                            dropdown.seats.append(
                                $('<option>', {
                                    value: item.seat_no,
                                    text: item.seat_no
                                })
                            );
                        });
                        //dropdown.seats.removeAttr('disabled');
                    });
                }
            }

            // event listener to customer dropdown change
            dropdown.flights.on('change', function() {
                updateseat();
            });

        });
    </script>    
</body>
</html>