{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('update_flight', flight_id=flight._id) }}" method="POST" class="form-horizontal">
	<fieldset>
		<legend>Edit Flight - Details</legend>
		<div class="form-group">
			<label for="flight_no" class="col-lg-2 control-label">Flight No.</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="flight_no" name="flight_no" value="{{flight.flight_no}}">
            </div>
	    </div>
        <div class="form-group">
            <label for="country_to" class="col-lg-2 control-label">Country To</label>
            <div class="col-lg-10">
                <select class="form-control" id="country_to" name="country_to">
                    {% for country in countries %}
                        {% if country.name == flight.country_to %}
                        <option value="{{country.name}}" selected>{{country.name}}</option>
                        {% else %}
                        <option value="{{country.name}}">{{country.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
			<label for="seats" class="col-lg-2 control-label">No. of Seats</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="seats" name="seats" value="{{flight.seats}}">
            </div>
	    </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </div>
	</fieldset>
    <input type="hidden" id="prev_flight_no" name="prev_flight_no" value="{{prev_flight_no}}">
    <input type="hidden" id="prev_seats" name="prev_seats" value="{{prev_seats}}">
</form>
{% endblock %}