{% extends 'base.html' %}
{% block content %}
<form action="{{ url_for('update_booking', booking_id=booking._id) }}" method="POST" class="form-horizontal">
	<fieldset>
		<legend>Edit Booking - Details</legend>
		<div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Name</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="full_name" name="full_name" value="{{booking.full_name}}">
            </div>
	    </div>
        <div class="form-group">
			<label for="inputEmail" class="col-lg-2 control-label">Country</label>
			<div class="col-lg-10">
				<input type="text" class="form-control" id="country_to" name="country_to" value="{{booking.country_to}}" readonly></input>
            </div>
	    </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Flights</label>
            <div class="col-lg-10">
                <select class="form-control" id="flight_no" name="flight_no">
                    {% for flight in flights %}
                        {% if flight.flight_no == booking.flight_no %}
                        <option value="{{flight.flight_no}}" selected>{{flight.flight_no}}</option>
                        {% else %}
                        <option value="{{flight.flight_no}}">{{flight.flight_no}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Hotels</label>
            <div class="col-lg-10">
                <select class="form-control" id="hotel_name" name="hotel_name">
                    {% for hotel in hotels %}
                        {% if hotel.name == booking.hotel_name %}
                        <option value="{{hotel.name}}" selected>{{hotel.name}}</option>
                        {% else %}
                        <option value="{{hotel.name}}">{{hotel.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="checkbox">
                    <label>
                        {% if booking.extra_baggage %}
                        <input id="extra_baggage" name="extra_baggage" type="checkbox" checked>Extra Baggage</input>
                        {% else %}
                        <input id="extra_baggage" name="extra_baggage" type="checkbox">Extra Baggage</input>
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="checkbox">
                    <label>
                        {% if booking.first_class %}
                        <input id="first_class" name="first_class" type="checkbox" checked>First Class</input>
                        {% else %}
                        <input id="first_class" name="first_class" type="checkbox">First Class</input>
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </div>
	</fieldset>
</form>
{% endblock %}